<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveStudent</servlet-name>
        <servlet-class>Controllers.SaveStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudents</servlet-name>
        <servlet-class>Controllers.ViewStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudent</servlet-name>
        <servlet-class>Controllers.EditStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudent2</servlet-name>
        <servlet-class>Controllers.EditStudent2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>Controllers.DeleteStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveStudent</servlet-name>
        <url-pattern>/SaveStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudents</servlet-name>
        <url-pattern>/ViewStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudent</servlet-name>
        <url-pattern>/EditStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudent2</servlet-name>
        <url-pattern>/EditStudent2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
